<h2>Category: <%= @Category.name %></h2>

<p>
	<% if defined? flash %>
	<%= flash[:message] %>
	<% end %>
</p>

<p>
	<% if defined? notice %>
	<%= notice %>
	<% end %>
</p>	

<%= @Category.name %> <br>

<p><%= link_to "Edit Category", edit_category_path %></p>
<p><%= link_to "Delete Category", new_category_path %></p>
<p><%= link_to "Show All Categories", categories_path %></p>

